{:paths ["src"]
 :deps {io.github.jgurtowski/cfengine-promise-protocol {:git/tag "0.0.1"
                                                        :git/url "git@github.com:jgurtowski/cfengine-promise-protocol-clj.git"
                                                        :git/sha "403f214"}}
 :aliases {:uberjar
           {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.5"}}
            :main-opts ["-m" "cambada.uberjar" "-m" "pulsar.cfengine.git" "--app-version" "0.0.1"]}}}
